{% extends "base.html" %}

{% block content %}
  {{ block.super }}
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 style="text-align:center">
          Gift Exchanger
        </h1>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p style="text-align:center">
          a fair, anonymous, independently verifiable gift exchange protocol
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <form method="post">
          {% csrf_token %}
          <div style="text-align:center">
            <br>
            <button type="submit" name="login" style="background-color:lightblue">Login</button>
            <button type="submit" name="signup" style="background-color:lightgreen">Sign up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
