{% extends "base.html" %}

{% block content %}
  {{ block.super }}
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-sm-4"></div>
      <div class="col-xs-6 col-sm-4">
        <h2 style="text-align:center">Party Login</h2>
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
            <p style="text-align:center">
              {% if 'username' in field.label_tag %}
                Party Name:
              {% else %}
               {{ field.label_tag }}
              {% endif %}
              <br>
              {{ field }}
            </p>
          {% endfor %}
          {% if form.errors %}
            <p style="color:red; text-align:center">Invalid party/passowrd pair.</p>
          {% endif %}
          <div style="text-align:center">
            <button type="submit">Login</button>
          </div>
        </form>
      </div>
      <div class="col-xs-6 col-sm-4"></div>
    </div>
  </div>
{% endblock %}
