{% extends "base.html" %}

{% block content %}
  {{ block.super }}
  <div class="container-fluid">
    <sdiv class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 style="text-align:center">{{ party_name }}</h2>
        <br>
        <br>
        <a href="{{ gen_key_url }}" class="btn btn-secondary" role="button">Add Participant</a>
        <br>
        <br>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Public Key</th>
              <th>Ciphertext</th>
            </tr>
          </thead>
          <tbody>
            {% for public_key, cipher in participants %}
              <tr>
                <td>{{ public_key }}</th>
                <td>{{ cipher }}</th>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

